<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="">Title</label>
      <input type="text" id="" name="" />
    </div>
    <div>
      <label for="post-text">Post</label>
      <textarea id="post-text" name=""></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/js/addBlogpost.js"></script>