<section>
  <h2>Create New Post</h2>

  <form class="new-blogpost">
    <div>
      <label for="blogpost-title">Title</label>
      <input type="text" id="blogpost-title" name="blogpost-title" />
    </div>
    <div>
      <label for="blogpost-text">Post</label>
      <textarea id="blogpost-text" name="blogpost-text"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/js/addBlogpost.js"></script>